body {
    background-color: hsl(240, 20%, 20%);
    color: white;
    display: grid;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    
    /* active calculation of the current viewport to prevent scrolling when 100vh */

    margin: 0;
}

.container {
    display: grid;
    gap: 4em;
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 400px;
    min-width: 250px;
}

.col {
    display: grid;
    justify-items: center;
}

.col:not(:last-child)::after {
    background: hsla(0, 0%, 100%, .1);
    content: '';
    display: block;
    height: 2px;
    position: relative;
    top: 2.1em;
    width: 100%;
}

h3 {
    font-family: 'Roboto Mono', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    line-height: 1;
    margin-block: 0 .5em;
}

.score {
    background: #191919;
    color: hsl(40, 100%, 60%);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    padding-block: .3em;
    padding-left: .16em;
    width: 100%;
}

.container-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    width: 100%;
}

button {
    background: transparent;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
    font-family: 'Roboto Mono', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .5em;
}

button:hover {
    background: hsla(0, 0%, 100%, .1);
}

button:active {
    background: hsla(0, 0%, 100%, .2);
}

button:focus {
    outline: 1px solid hsla(40, 100%, 60%);
}

@media (min-width: 630px) {
    .container {
        grid-template-columns: 1fr 1fr;
        margin: auto;
        min-width: 540px;
        max-width: 600px;
        width: 38vw;
    }

    .col:not(:last-child)::after {
        display: none;
    }
}