@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --border: hsla(0, 100%, 100%, .3);
}

body {
    background: linear-gradient(to right top, hsl(275, 66%, 13%), hsl(350, 81%, 42%));
    color: white;
    display: grid;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    
    /* active calculation of the current viewport to prevent scrolling when 100vh */

    margin: 0;
}

.container {
    background-color: hsla(0, 0%, 54%, .4);
    border: 1px solid var(--border);
    border-radius: 1.5rem;
    box-shadow: 0 0 40px 4px hsla(0, 0%, 100%, .1);
    display: grid;
    gap: 4em;
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 400px;
    min-width: 250px;
    padding: 3em;
}

.col {
    display: grid;
    justify-items: center;
}

.col:not(:last-child)::after {
    background: var(--border);
    content: '';
    display: block;
    height: 1px;
    position: relative;
    top: 2.1em;
    width: 50%;
}

h3 {
    font-family: 'Roboto Mono', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1;
    margin-block: 0 .5em;
}

.score {
    background: hsla(0, 0%, 10%, .7);
    border-radius: 16px;
    color: hsl(40, 100%, 60%);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    margin-bottom: .4em;
    padding-block: .3em;
    padding-left: .16em;
    width: 95%;
}

.winner {
    animation: glow 250ms ease-out forwards;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 hsla(0, 0%, 0%, 0);
    }

    100% {
        box-shadow: 0 0 40px 4px hsla(0, 0%, 100%, .4);
    }
}

.container-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    background-color: hsla(0, 100%, 100%, .1);
    border: 1px solid var(--border);
    border-radius: 8px;
    color: white;
    font-family: 'Roboto Mono', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: .5em;
    transition: background-color 200ms;
}

#new {
    grid-column: 1 / -1;
    margin-inline: auto;
    width: 100%;
}

button:hover {
    background-color: hsla(0, 100%, 100%, .2);
}

button:active {
    background-color: hsla(0, 0%, 100%, .3);
}

button:focus {
    outline: 1px solid var(--accent);
}

@media (min-width: 700px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3.5em;
        margin: auto;
        min-width: 540px;
        row-gap: 3em;
    }

    .col:not(:last-child)::after {
        display: none;
    }
}